body{
	color: black;
	font-family: calibri body;
	font-weight: lighter;

}

h2{
	font-family: verdana;

}

h3{
	color: blue;
	text-decoration: underline;
	font-style: italic;
	font-weight: lighter;
}

table{
	border-collapse: collapse;
}
	
th{
	color: blue;
	font-weight: lighter;
	padding: 
}

tr:nth-child(odd) td{
	background-color: #e7edf0;

}

p.para1, p.para2, p.para3, p.para4, p.para5, p.para6, p.para7, p.para8, p.para9{
	background-color: white;

}


td.DATE{
	text-align: right;
}

}